body { 
    display: flex;
    justify-content: center;
     
    
}

#prev-calcs { 
    /* Position */
    position: absolute;
    top: 7%;
    left: 30%;
    /* Size */
    /* width */
    width: 68%;
    max-width: 68%;
    /* height */
    min-height: 50%;
    height: max-content; 
    max-height: fit-content;
    /* Border */
    border-style: solid;
    border-width: thin;
    border-color: black;
    /* Flex */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* Background Color:display:; */
    background-color: white;
    

}

#prev-calcs div { 
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap ; /* Wrap to the next line when it fills the first one
    /* Sizing */
    /* width */
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    /* height */
    min-height: 40%;
    border-radius: 15px;
    /* Coloring */
    background-color: whitesmoke;
    /* Text Styling */
    font-size: 10mm;
    /* Margin */
    margin-right: 2em;
    margin-bottom: 2em;
    
}
#prev-calcs header  {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* ... */
}